<br/>
<img src="$!{portalResourcesUrl}/resources/images/dht22-logger.jpg" width="100%" alt="DHT22 logger scheme"/><br/>
<br/>
<a id="$!{gadget.key}_download-scheme"
   href="$!{portalResourcesAttachmentUrl}/resources/images/dht22-logger.jpg"
   class="aui-button"
   title="Download DHT22 logger scheme">
    <span>Download scheme</span>
</a><br/>
<br/>