#parse ("macros.vm")

#if ($!{data.isEmpty()})
    #showMessage("info", "Status", "No data to display.", false)
#else
<table class="aui aui-table-interactive aui-table-sortable">
    <thead>
    <tr>
        <th id="data-humidity">Humidity</th>
        <th id="data-temperature">Temperature</th>
        <th id="data-heatindex">Heatindex</th>
        <th id="data-timestamp">Timestamp</th>

    </tr>
    </thead>
    <tbody>
        #foreach ($d in $data)
        <tr>
            <td headers=“data-humidity”><span class=“aui-lozenge aui-lozenge-current”>$String.format("%.2f", $!{d.humidity})%</span></td>
            <td headers="data-temperature"><span class="aui-lozenge aui-lozenge-current">$String.format("%.2f", $!{d.temperature})&deg;C</span></td>
            <td headers="data-heatindex"><span class="aui-lozenge aui-lozenge-current">$String.format("%.2f", $!{d.heatIndex})&deg;C</span></td>
            <td headers="data-timestamp">$date.format("yyyy-MM-dd HH:mm:ss", $!{d.timestamp})</td>
        </tr>
        #end
    </tbody>
</table>
#end